<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="css/main.css"/>

</head>
<body>
<div style="padding: 30px; padding-top:0px;">
<!-- Nav tabs -->
<br/><br/>
<div style="width:100%; height:1px; background:#DDD"> </div>

<div class="container row">

<h2>{{title}}</h2><hr/>
</div>
<ul class="nav nav-tabs tabs" role="tablist">
    <li role="presentation" ><a href="#pend" aria-controls="pend" role="tab" data-toggle="tab">Pending Items</a></li>
    <li role="presentation"><a href="#approved" aria-controls="approved" role="tab" data-toggle="tab">Approved Items</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
	{{#if display_msg}}
	<div class="alertmsg">
		{{message}}
	</div>
	{{/if}}
    <div role="tabpanel" class="tab-pane active" id="pend">
        <div class="row-fluid tabs" style="height:60px;font-weight:bold; background:#DDD; margin-bottom:10px; ">
           <!-- pending begins -->
            <div class="col-md-2 filterlink">
                Image
            </div>
            <div class="col-md-2 filterlink c-align">
                Item Name
            </div>
            <div class="col-md-2 filterlink c-align">
                Category
            </div>
			<div class="col-md-2 filterlink c-align">
                Description
            </div>
            <div class="col-md-2 filterlink c-align">
                Price
            </div>
            <div class="col-md-2 filterlink c-align">
                Status
            </div>
        </div>
		{{#if penditems}}
        {{#each penditems}}
        <div class="container-fluid">
        <div class="row-fluid lheight">
            <div class="col-md-2 " style="background: white;">
                <img src="/images/{{this.Photo}}" height="80"/>
            </div>
            <div class="col-md-2 c-align listitem" style="background: white;">
                {{this.Name}}
            </div>
            <div class="col-md-2 c-align listitem" style="background: white;">
                {{this.Categories}}
            </div>
			<div class="col-md-2 c-align listitem" style="background: white;">
                {{this.Description}}
            </div>
            <div class="col-md-2  c-align listitem" style="background: white;">
                {{this.Price}}
            </div>
            <div class="col-md-2  c-align listitem" style="background: white;">
                <div class="col-md-2  c-align"><br/>
                    <a href="/admin/changestatus/{{this.Id}}" class="gradient_green_btn">Approve</a>
                </div>
                <div class="col-md-2  c-align"><br/>
                    <a href="/messages/deleteitem/{{this.Id}}" class="gradient_red_btn">Delete</a>
                </div>
            </div>
        </div>
        </div>
       {{/each}}
	   {{/if}}
    </div>
    <!-- approved begins -->
    <div role="tabpanel" class="tab-pane" id="approved">
        <div class="row-fluid tabs" style="height:60px; font-weight:bold; background:#DDD; margin-bottom:10px;">
           <div class="col-md-2 filterlink">
                Image
            </div>
            <div class="col-md-2 filterlink c-align">
                Item Name
            </div>
            <div class="col-md-2 filterlink c-align">
                Category
            </div>
			<div class="col-md-2 filterlink c-align">
                Description
            </div>
            <div class="col-md-2 filterlink c-align">
                Price
            </div>
            <div class="col-md-2 filterlink c-align">
                Status
            </div>
        </div>
		{{#if approveditems}}
        {{#each approveditems}}
        <div class="container-fluid">
        <div class="row-fluid lheight">
            <div class="col-md-2 " style="background: white;">
                <img src="/images/{{Photo}}" height="80"/>
            </div>
            <div class="col-md-2 c-align listitem" style="background: white;">
                {{Name}}
            </div>
            <div class="col-md-2 c-align listitem" style="background: white;">
                {{Categories}}
            </div>
			<div class="col-md-2 c-align listitem" style="background: white;">
                {{Description}}
            </div>
            <div class="col-md-2  c-align listitem" style="background: white;">
                {{Price}}
            </div>
            <div class="col-md-2  c-align" style="background: white;"><br/>

				<form class="form" method="post" title="Click to Disable" action="changestatus" style="display: inline-table; margin-top:-40px; border:0px solid">
                        <input type="hidden" name="newstatus" id="newstatus" value="0"  />
                        <input type="hidden" name="itemid" id="itemid" value="{{Id}}"/>
                        <input type="submit" name="login" value="Disable" class="gradient_red_btn" style="width:76px;display: inline-table;" />
                    </form>
				 
            </div>
        </div>
        </div>
        {{/each}}
	    {{/if}}
    </div>
</div>

<!-- Footer content -->
<div class="container-fluid footer c-align" style="display:table;">
    <div class="row-fluid">
        <div class="col-md-12">
            Copyright &copy; GSDS SFSU Project Work, 2019. All rights reserved
        </div>
    </div>
</div>

<script src="js/jquery-1.12.4.min.js" ></script>
<script src="js/bootstrap.min.js" ></script>
</div>
</body>
</html>