  <!doctype html>
  <html lang="en">
  <body>
  <!-- Body Contents -->
              <br/><br/><br/><br/>
               <div class="container">
              <!-- <div class="row-fluid menu">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-3">
                  </div>
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-n3">
                  </div>
              </div>
              <br/> -->
              <!-- how it works menu -->
        <!--      <div class="row-fluid how_label gradient_green">
                  <h3>How it works&nbsp;&nbsp;<small style="color:#fff;">(Complete step by step to how to use this app)</small></h3>
                  <div class="row-fluid how_steps">
                      <div class="col-md-3">
                          <div>
                              <strong>Step 1</strong>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div>
                              <strong>Step 2</strong>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div>
                              <strong>Step 3</strong>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div>
                              <strong>Step 4</strong>
                          </div>
                      </div>
                  </div>
              </div>
-->
              <!-- Carousel -->
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                      <div class="item active">
                          <img src="/img/FineArts.png" alt="..." width="100%">
                          <div class="carousel-caption">

                          </div>
                      </div>
                      <div class="item">
                          <img src="/img/SFSU.png" alt="...">
                          <div class="carousel-caption">

                          </div>
                      </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>

              <div class="row-fluid how_label c-align " >
                  <br/>
                  <h3 style="font-size:42;color:#62ab00;margin-top:30px;">We made the college experience easy.
                      <br/><small>Buy and sell your college items. </small></h3>
              </div>
              <hr/>
              <!-- Tabs for the display sections -->
              <div class="row-fluid tabs">
                  <div class="col-md-12">
                      <div>
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Recent Items</a></li>
                              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Cheapest Deals</a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                              <div role="tabpanel" class="tab-pane active" id="home">
                                  <div id="carousel-example-generic1" class="carousel slide" style="height:auto !important;border:none;" data-ride="carousel">

                                      <!-- Wrapper for slides -->
                                      <div class="carousel-inner" role="listbox">
                                          <div class="item active">
                                              <div class="row-fluid">
                                                  {{#each recentdb}}
                                                      <div class="col-md-3 c-align item">
                                                          <h3>{{this.Name}}</h3>
                                                          <img src="/images/{{this.Photo}}" height="170"/>

                                                          <p class="price">${{this.Price}}</p>
                                                          <a href="/item/{{this.Id}}" class="buyNow">MessagesSeller</a>
                                                          <br/>
                                                      </div>
                                                  {{/each}}
                                              </div>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                              <div role="tabpanel" class="tab-pane" id="profile">
                                  <div id="carousel-example-generic2" class="carousel slide" style="height:auto !important;border:none;" data-ride="carousel">

                                      <!-- Wrapper for slides -->
                                      <div class="carousel-inner" role="listbox">
                                          <div class="item active">
                                              <div class="row-fluid">
                                                  {{#each cheapestdb}}
                                                      <div class="col-md-3 c-align item">
                                                          <h3>{{this.Name}}</h3>
                                                          <img src="/images/{{this.Photo}}" height="170"/>

                                                          <p class="price">${{this.Price}}</p>
                                                          <a href="/item/{{this.Id}}" class="buyNow">MessagesSeller</a>
                                                          <br/>
                                                      </div>
                                                  {{/each}}
                                              </div>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
  <br/><br/>
  <!-- Footer content -->
  <div class="container-fluid footer c-align">
      <div class="row-fluid">
          <div class="col-md-12">
              Copyright &copy; GSDS Project Work, 2019. All rights reserved
          </div>
      </div>
  </div>

  <script src="js/jquery-1.12.4.min.js" ></script>
  <script src="js/bootstrap.min.js" ></script>
  </body>
  </html>